
a.button {
  font-family: Helvetica, "Times New Roman", sans-serif;
  font-size: 30px;
  background-color: white;
  color: black;
  text-align: center;
    margin: auto;
    border: 3px solid black;
    width: 33%;
    padding: 20px;
}

div {
    padding: 50px;
    text-align: left;
    margin-bottom: 1px;
    color: white;
  }


body {
    background: silver;
    padding: 10px;



}

h1 {
    font-size: 75px;
    text-align: center;
    margin: auto;
    border: 5px solid black;
    width: 33%;
    padding: 40px;


}

